<div class =" footer row text-center bg-dark mt-5 py-5">
        
    <div class="  col-md-12 ">
    <div class ="row">
        <div class="col-md-4  text-white">
            <h5>ADDRESS</h5>
            <h6 class="col1">A/P Jaypatrewadi Mudhale Tal-Baramati<br> Dist-Pune Pin- 413110</h6>
        </div>
        <div class="col-md-4  text-white">
            <h5>PHONE NO :</h5>
            <h6 class="colo2">+919322275614</h6>
        </div>
        <div class="col-md-4  text-white">
            <h5>EMAIL</h5>
            <h6 class ="colo3">jaypatreavinash81@gmail.com</h6>
        </div>
    </div>
  </div>